on:
    push:
        branches:
            - main
            - "releas/**"
    pull_request:
        branches:
            - main
            - "release/**"
jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - name: checkout code
              uses: actions/checkout/@v6.0.1
            - name: Run tests
              run: npm test
